* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    line-height: 0;
    width: 500px;
    /* height: 500px; */
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    /* display: inline-block; */
    border: .5px solid rgb(55, 55, 55);
    background-color: white;
    flex: 1 1 auto;
}
